.app-sidebar {
  flex-shrink: 0;
  position: relative;
  width: fit-content;
  width: 320px;
  height: 100%;
  background-color: var(--color-panel);
  --sidebar-border-radius: 10px;
  border-bottom-left-radius: var(--sidebar-border-radius);
  border-bottom-right-radius: var(--sidebar-border-radius);
  margin-bottom: 20px;
  overflow-y: scroll;
  @include desktop() {
    border-radius: 0;
    margin-bottom: 0;
  }
}
.app-heading {
  margin: 20px 0;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
}
.author-nav-link {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  a {
    text-decoration: none;
  }
}
