:root {
  // Base color palette
  --color-gray-600: #1e1e1e;
  --color-gray-300: #2f2f2f;
  --color-gray-200: #3e4440;
  --color-gray-100: #5e635f;
  --color-white: #ffffff;
  --color-blue: #1864f9;
  --color-orange: #cc5522;

  // Semantic color palette
  --color-body: var(--color-gray-600);
  --color-panel: var(--color-gray-300);
  --color-control-group-separator: var(--color-gray-200);
  --color-text: var(--color-white);
  --color-button: var(--color-gray-100);
  --color-button-warning: var(--color-orange);
}
