@use 'responsive' as *;

* {
  box-sizing: border-box;
}

html,
body {
  @include desktop() {
    height: 100%;
    min-height: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin: 0;
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  background-color: var(--color-body);
  margin-bottom: 20px;
  text-align: center;
  color: var(--color-text);
  @include desktop() {
    flex-direction: row;
    margin-bottom: 0;
  }
}
.editor-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
a {
  color: var(--color-link);
}
h1 {
  margin: 20px 0;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
}
h2 {
  margin: 0;
  margin-bottom: 10px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 14px;
}
.hint {
  padding: 0 20px;
  font-style: italic;
  color: var(--color-hint);
}
// Hide some labels from the UI but still be readable by screen readers
.accessibility-only {
  position: absolute;
  top: -1000px;
  left: -10000px;
}
// Make the element invisible
.invisible {
  opacity: 0;
}
