input[type='text'],
input[type='number'],
input[type='search'] {
  border: solid 1px var(--color-input-border);
  background-color: var(--color-input);
  background-clip: padding-box;
  border-radius: 5px;
  padding: 4px 6px;
  color: var(--color-input-text);
  font-family: inherit;
  &.is-invalid {
    background-color: var(--color-input-error);
  }
}

button {
  border: solid 1px var(--color-button-border);
  background-clip: padding-box;
  border-radius: 5px;
  background-color: var(--color-button);
  font-family: inherit;
  font-size: 12px;
  padding: 6px 12px;
  color: var(--color-text);
  &[type='submit'] {
    --color-button: var(--color-button-submit);
  }
  &.warning {
    --color-button: var(--color-button-warning);
  }
  &:hover:active {
    filter: brightness(75%);
  }
}

input,
button {
  &:focus-visible {
    outline-width: 0;
    box-shadow: 0 0 0 1px var(--color-border), 0 0 0 3px var(--color-input-focus-shadow);
  }
  &.is-invalid:focus-visible {
    --color-input-focus-shadow: var(--color-input-focus-shadow-invalid);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Firefox */
}

input[type='color'] {
  border-width: 0;
  background: none;
}
input[type='color']::-webkit-color-swatch-wrapper {
  --swatch-size: 24px;
  width: var(--swatch-size);
  height: var(--swatch-size);
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border-radius: 50%;
  border: solid 1px var(--color-input-border);
}
