.grid-controls-group {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  margin-bottom: 10px;
  & > .grid-control:not(:last-of-type) {
    padding-right: 20px;
  }
}

.grid-control {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    font-weight: 600;
    color: #fff;
  }
  label,
  .grid-control-value {
    font-size: 14px;
  }
  input[type='number'] {
    flex-grow: 0;
    width: 40px;
    padding: 1px 4px;
  }
  input[type='range'] {
    width: 100px;
  }
}

.grid-control-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grid-control-value {
  margin-left: 4px;
  margin-right: 2px;
}
