.grid-controls-group {
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  flex-wrap: wrap;
  max-width: 290px;
  gap: 10px 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px var(--color-control-group-separator);
  margin-bottom: 20px;
}

.grid-control {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  label {
    margin-right: 10px;
    color: var(--color-text);
    font-size: 14px;
  }
  input[type='number'] {
    flex-grow: 0;
    width: 40px;
    padding: 1px 4px;
  }
  input[type='range'] {
    width: 120px;
  }
}

.grid-control-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.grid-control-value {
  margin-left: 4px;
  margin-right: 2px;
  font-size: 16px;
}
