.grid-canvas {
  width: fit-content;
  --area-outside-grid-h: 0px;
  --area-outside-grid-v: 320px;
  --grid-tile-selection-width: 0.5;
  max-width: calc(100vw - var(--area-outside-grid-h));
  max-height: calc(100vh - var(--area-outside-grid-v));
  // Using the new `dvh` dynamic viewport units ensures that Mobile Safari's
  // browser toolbars don't obsure the grid canvas on iOS; see
  // <https://caniuse.com/viewport-unit-variants> for details on current browser
  // compatibility
  max-height: calc(100dvh - var(--area-outside-grid-v));
  padding: 0 40px;
  // Ensure that the canvas background color (which is applied as an inline
  // style to the SVG canvas) does not extend to include the padding (since the
  // padding is only to create breathing room)
  background-clip: content-box;
  box-sizing: content-box;
  @include desktop() {
    --area-outside-grid-h: 270px;
    --area-outside-grid-v: 40px;
  }
  &.is-fullscreen {
    visibility: hidden;
  }
}
.grid-full-screen-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.grid-tile.is-selected,
.grid-tile:hover {
  stroke: var(--color-grid-tile-selected);
  stroke-width: --grid-tile-selection-width;
}
