@keyframes spin {
  from {
    rotate: 0turn;
  }
  to {
    rotate: 1turn;
  }
}

.loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2px;
  --icon-size: 100px;
  width: var(--icon-size);
  height: var(--icon-size);
  animation: spin 500ms ease-in-out forwards;
}
