body {
  min-height: 100%;
  margin: 0;
  padding: 0 40px;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #222;
  text-align: center;
  color: #fff;
}
a {
  color: inherit;
}

.image-canvas {
  max-height: calc(100vh - 210px);
}

.app-header {
  margin-bottom: 10px;
}
.app-heading {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
}

input[type='text'],
input[type='number'],
input[type='search'] {
  border-width: 0;
  border-radius: 3px;
  padding: 4px 6px;
  font-family: inherit;
}

button {
  border-width: 0;
  border-radius: 3px;
  background-color: #396;
  font-family: inherit;
  font-weight: 600;
  padding: 6px 12px;
  color: #fff;
  &.warning {
    background-color: #c63;
  }
  &:hover:active {
    filter: brightness(75%);
  }
}

input,
button {
  &:focus-visible {
    outline-width: 0;
    box-shadow: 0 0 0 2px #36c, 0 0 0 4px #3cf;
  }
}

.grid-controls-group {
  display: flex;
  justify-content: center;
  gap: 0 10px;
  margin-bottom: 10px;
}

.grid-control {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  &:not(:last-of-type) {
    padding-right: 20px;
  }
  label {
    font-weight: 600;
    color: #fff;
  }
  label,
  .grid-control-value {
    font-size: 14px;
  }
  input[type='number'] {
    width: 50px;
  }
  input[type='range'] {
    width: 100px;
  }
}
